<div class="app-container">
  <div class="site-branding">
    <img src="assets/mindhorizon-logo.png" alt="MindHorizon Logo" class="site-logo">
    <span class="site-name">MindHorizon</span>
  </div>
  
  <header class="app-header">
    <img src="assets/hori.png" alt="MindHorizon - Explore ton bien-être mental" class="harmonia-avatar">
    <h1></h1>
    <p>Un espace bienveillant pour échanger en toute sérénité.</p>
</header>

  <main class="app-main">
    <app-chatbot></app-chatbot>
  </main>

  <footer class="app-footer">
    <p>&copy; 2025 Chatbot Santé Mentale - Tous droits réservés</p>
  </footer>
</div>

<router-outlet></router-outlet>
